<!doctype html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <title>este.demos.app.layout</title>
  <link href='../../css/default.css' rel='stylesheet'>
  <link href='css/app.css' rel='stylesheet'>
  <script src='../../../../closure-library/closure/goog/base.js'></script>
  <script src='../../../deps.js'></script>
  <script>
    goog.require('este.demos.app.layout.start')
  </script>
</head>
<body>
  <div id='layout-app'></div>
  <script>este.demos.app.layout.start()</script>
</body>