{namespace este.demos.app.layout.foo.templates autoescape="contextual"}

/**
 */
{template .element}
  <div class="este-foo">
    <p>
      Foo content with este.ui.Resizer component. This is example how to use
      component in view.
    </p>
    <div class="este-box">
      Resizable box
    </div>
  </div>
{/template}