.e-resizer-handle-horizontal,.e-resizer-handle-vertical{position:absolute;background-color:#f00;border:0;border-radius:6px;opacity:.6}
.e-resizer-handle-horizontal{height:6px;margin-top:-6px;cursor:n-resize}
.e-resizer-handle-vertical{width:6px;margin-left:-6px;cursor:w-resize}
#layout-app .este-links{letter-spacing:-.31em;word-spacing:-.43em;display:inline-block;background-color:#eee;border:solid 1px #ccc;padding:.3em;border-radius:6px;}
#layout-app .este-links > *{display:inline-block;letter-spacing:normal;word-spacing:normal;vertical-align:top}
#layout-app .este-links a{padding:.2em 1em;margin:.3em;border:solid 1px #ccc;border-radius:6px;color:#333;text-decoration:none;background-color:#eee;}
#layout-app .este-links a:hover{background-color:#fff}
#layout-app .este-links a.este-selected{border:solid 1px #aaa;background-color:#fff}
#layout-app .este-content,#layout-app .este-sidebar{width:400px;float:left;background-color:#eee;border:solid 1px #ccc;padding:1.2em;margin-top:.3em;border-radius:6px}
#layout-app .este-sidebar{width:80px;margin-left:.2em;}
#layout-app .este-sidebar a{display:block;}
#layout-app .este-sidebar a.este-selected{text-decoration:none;color:#000}
#layout-app .este-content .este-foo .este-box{display:inline-block;padding:1.5em 2em;margin:1em;color:#111;font-weight:bold;border-radius:6px;border:solid 1px #ccc;background-color:#fff}
