{namespace este.demos.app.layout.layouts.master.templates autoescape="contextual"}

/**
 */
{template .element}
  <h1>este.demos.app.layout</h1>
  <p>
    Layout demo. Take a look at source code to see how it works.
  </p>
  <div class="este-links"></div>
  <div class="este-container">
    <div class="este-content"></div>
    <div class="este-sidebar"></div>
  </div>
{/template}